@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

#filter {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 1rem;
    align-items: center;

}

.dropdown-item:active {
    background-color: #c3c3c3 !important;
}

.options {
    width: 8rem;
    background-color: #c3c3c3;

}

#searchBar {
    width: 40rem;

}

.title{
   font-family: 'Tangerine', cursive;
   font-weight: 700;
   font-size: xxx-large;
   color: rgb(137, 118, 9);
   word-spacing: 1rem;
   letter-spacing: 0.5rem;
}
